@model IEnumerable<SALT_PEPER.ENTIDADES.TblCategoriaPlatillo>

@{
    ViewData["Title"] = "Index";
}


<div class="card">
    <div class="card-body">
        <h4>Categoría platillo</h4>

        <div class="button-items ">
            <a asp-action="Create" class="btn btn-primary float-sm-end btn-sm waves-effect waves-light">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Nuevo
            </a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Estado)
                    </th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estado)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Pk" class="btn btn-primary btn-sm">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                Editar
                            </a>
                            <a asp-action="Details" asp-route-id="@item.Pk" class="btn btn-success btn-sm">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                Ver
                            </a>
                            <a asp-action="Delete" asp-route-id="@item.Pk" class="btn btn-danger btn-sm">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                                Eliminar
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
